# Virtual environment
venv/
ENV/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Byte-compiled / optimized / DLL files
*.so
*.dll
*.dylib

# VS Code settings
.vscode/
.idea/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Vercel
.vercel
